*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height:100vh;
  width: 100%;
  background-color: #0f0f1e;
  color: white;
}

@media (min-width: 320px) and (max-width: 768px) {

  body{
    background-color: #16311d;
  }

  .header{
    background-color: #346f44;
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 999999;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    background: transparent;
 backdrop-filter: blur(9.1px);
 -webkit-backdrop-filter: blur(9.1px);
 border: 1px solid rgba(255,255,255, 0.08);
  }

  nav{
    display: flex;
    justify-content: center;
    display: flexbox;
    gap: 2px;
  }

  nav a{
  top: 0.5em;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FEF3E2;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  transition: background 0.3s ease;
  }

  nav a:hover {
  color: white;
  background: #ffa617;
  border-radius: 6px;
}

nav a::after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: #fca311;
  transition: all 0.3s ease;
}

nav a:hover::after {
  left: 0;
  width: 100%;
}

  .logo{
    display: none;
  }

  .hero{
  position: relative;
  justify-self: center;
  top: 15em;
  height: 5em;
  font-size: 1em;
  text-align: center;
  padding: 5px 2.5px;
  font-family: 'Spectral','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.hero h1{
  color: #FEF3E2;
  font-size: 60px;
}

.hero span {
  font-size: 60px;
  font-family: 'Spectral', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FAB12F; 
  text-shadow:0 0 2px #FAB12F; 
}


.hero h3 {
  color: #EFE9E3;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 13px;
}

  .social-media{
  display: flex;
  gap: 25px;
  position: relative;
  justify-content: center;
  top: 30em;
  left: 0;
}

.social-media img
{
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
  box-shadow: 0 0 14px#000000;
}

#gmail img:hover,
#insta img:hover,
#Git img:hover,
#twitter img:hover,
#linkedin img:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(27, 92, 118, 0.3);
  color: #000608;
  transition: 0.15s;
}